.login-card {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  /* text-align: center; */
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-header {
  font-size: 3.5rem;
}

.login-header h1 {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: #333;
}

.login-header p {
  margin-top: 0;
  font-size: 0.95rem;
  color: #555;
}

.login-header h2 {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  margin: 0;
  color: #333;
}

.login-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-footer {
  margin-top: 0.5rem;
  margin: 0;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.login-footer a {
  color: #4a90e2;
  text-decoration: none;
}

.login-footer p {
  margin: 5px;
}

.login-footer a:hover {
  text-decoration: underline;
}
