.mp-window {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}

.section-block {
  width: 100%;
  padding: 20px 0;
  scroll-margin-top: 40px;
}

@media (max-width: 768px) {
  .section-block {
    width: 100%;
    padding: 5px 0;
  }
}
