.section-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #151515;
  margin: 0;
  position: relative;
  z-index: 1;
}

.section-heading .underline {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #151515, #888);
  border-radius: 2px;
  margin-top: 12px;
  transition: width 0.3s ease;
}

.section-heading:hover .underline {
  width: 100px;
}
